/* CSS reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img { 
	border: 0;
}

address,caption,cite,code,dfn,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q: before,q: after {
	content: '';
}

abbr,acronym {
	border: 0;
}


/* General Style */

body {
	background: #cccccc;
	color: #000000;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 13px;
	min-height: 100%;
}

a {
	color: #000000;
	text-decoration: none;
}

.clr {
	clear: both;
}

h1 {
	margin: 10px 20px 0px 0px;
	font-size: 30px;
	color: #000000;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	text-align: left;
	font-weight: 700;
	text-shadow: 1px 1px 3px #cccccc;
}

.main {
	width: 800px;
	margin: auto;
}

.top {
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000000;
	height: 77px;
	width: 100%;
	z-index: 9999;
}

.top a {
	font-weight: bold;
	color: #cccccc;
	display: block;
	padding: 3px;
	height: 28px;
}

.top a: hover {
	background: #000000;
	color: #ff5fca;
	display: block;
}

.logo {
	float: left;
}

.loginout {
	float: right;
	padding: 20px 20px 0px 0px;
	color: #d8dfea;
	font-size: 24px;
}

.container {
	
}

.wrapper {
	width: 800px;
	margin: 30px auto;
}

.container-area {
	width: 760px;
	padding: 40px 20px 0px 20px;
	margin: 110px 0px 30px 0px;
	background: #ffffff;
}

.container-area_p {
	display: block;
	background-color: #ffffff;
	text-align: left;
	z-index: 1;
}

.picture {
	padding: 0px;
	margin: 0px;
}

.mash {
	float: left;
	width: 196px;
	height: 120px;
	line-height: 60px;
	text-align: center;
	padding: 60px 0px 0px 0px;
	margin: 0px;
}

#submit {
	display: inline-block;
	padding: 10px 15px;
	background-color: #ffffff;
	color: #007bda;
	font-weight: 900;
	font-size: 30px;
	line-height: 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #084c9f;
	border: 3px solid #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:pointer;
}

#submit:hover {
	color: #fb04a9;
	text-shadow: 1px 1px 0px #a00164;
}

#submit:active {
	color: #fb04a9;
	text-shadow: 1px 1px 0px #a00164;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

#skip {
	display: inline-block;
	background-color: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: underline;
	border: 0px solid #000000;
	padding: 0px;
	margin: 0px;
	cursor:pointer;
}

#skip:hover {
	color: #007BDA;
}

#skip:active {
	color: #007BDA;
}

.friend1-image {
	float: left;
	margin: 0px 0px 0px 100px;
	padding: 0px;
	width: 180px;
	height: 180px;
	border: 1px solid #000000;
}

.friend2-image {
	float: right;
	margin: 0px 100px 0px 0px;
	padding: 0px;
	width: 180px;
	height: 180px;
	border: 1px solid #000000;
}

.profile1 {
	float: left;
	width: 250px;
	padding: 0px 0px 75px 65px;
}

.profile2 {
	float: right;
	width: 250px;
	padding: 0px 65px 75px 0px;
}

.name1 {
	width: 100%;
	text-align: center;
	padding: 0px 0px 10px 0px;
}

.name2 {
	width: 100%;
	text-align: center;
	padding: 0px 0px 10px 0px;
}

.profile-info-1 {
	text-align: left;
}

.profile-info-2 {
	text-align: left;
}

.loggedin {
	display: block;
	text-align: left;
	margin: 0px;
	padding: 0px;
	background: none;
}

.loggedout {
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px 0px 75px 0px;
	background: none;
}

.splash {
	text-align: center;
	display: block;
	padding: 0px 0px 20px 0px;;
}

#lovemash_hype_container {
	margin: auto;
}

#fb-connect-button {
	text-align: center;
}

.fb-connect-css {
	display: inline-block;
	padding: 6px 35px;
	-moz-box-shadow: inset 0px 1px 0px -1px #97c4fe;
	-webkit-box-shadow: inset 0px 1px 0px -1px #97c4fe;
	box-shadow :inset 0px 1px 0px -1px #97c4fe;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background: -moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color: #3d94f6;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #1570cd;
	border: 1px solid #337fed;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

#f {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
}

#line {
	color: #7eb2f6;
}

.footer {
	display: block;
	height: 35px;
	line-height: 35px;
	padding: 0px;
	background: #ffffff;
	border: 0px solid #000000;
}

.fb-follow-outer {
	float: left;
	display: block;
}

.fb-follow {
	display: block;
	height: 100%;
}

.info {
	float: right;
	display: block;
}

.info-list {
	
}

.info-list li {
	float: right;
	padding-left: 10px;
}

.main-body {
	padding: 0px 15px 40px 15px;
}

.main-body h1 {
	padding: 0px 0px 25px 0px;
}

.main-body p {
	padding: 0px 0px 25px 0px;
}

.main-body a {
	border-bottom: 1px dotted #ff01ac;
	text-decoration: none;
}