/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   MAIN CSS
   ========================================================================== */

body {
	background-color: #cccccc;
	font-style: Helvetica;
}


#top-banner {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 72px;
	background-color: #000000;
	z-index: 500;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	z-index: 999;
}

#logo {
	float: left;
	width: 570px;
}

#loginout {
	float: left;
	width: 200px;
	text-align: right;
	line-height: 72px;
	font-size: 22px;
}

#loginout a {
	color: #ffffff;
	text-decoration: none;
}


/* content */

#content-wrapper {
	position: relative;
	top: 100px;
	width: 800px;
	margin: 0 auto;
}

#content {
	position: relative;
	width: 800px;
	min-height: 500px;
	background-color: #ffffff;
	z-index: 10;
	padding: 50px 0 50px 0;
}


/* inside content */

#should {
	float: left;
	width: 125px;
	height: 200px;
	text-align: center;
	border: 0px solid #000000;
	line-height: 200px;
	font-weight: bold;
	font-size: 30px;
	color: #007bda;
}

#and {
	float: left;
	width: 75px;
	height: 200px;
	text-align: center;
	border: 0px solid #000000;
	line-height: 200px;
	font-weight: bold;
	font-size: 30px;
	color: #007bda;
}

#question {
	float: left;
	width: 196px;
	height: 200px;
	text-align: center;
	border: 0px solid #000000;
	line-height: 200px;
	font-weight: bold;
	font-size: 30px;
	color: #007bda;
}

#question select {
	background: transparent;
	padding: 0px;
	font-weight: bold;
	font-size: 30px;
	color: #007bda;
	border: 0;
	border-radius: 0;
	text-align: center;
	-webkit-appearance: none;
}

#left-image {
	float: left;
	width: 200px;
	height: 200px;
	z-index: 19;
	text-align: center;
	border: 0px solid #000000;
}

#right-image {
	float: left;
	width: 200px;
	height: 200px;
	z-index: 19;
	text-align: center;
	border: 0px solid #000000;
}

.profile-image {
	/* margin-top: -126px; */
	margin-top: -45px;
}


/* actions */

.lock {
	position: relative;
	top: -22px;
	left: -22px;
	width: 40px;
	height: 40px;
	border: 1px solid #000000;
	border-radius: 40px;
	z-index: 20;
	line-height: 40px;
	font-size: 20px;
	opacity: 0.8;
}

#unlocked {
	background: url('img/lock.png') 0 0;
	opacity: 0.5;
}

#locked {
	background: url('img/lock.png') -40px 0;
}

.trash {
	display: none;
	position: relative;
	top: -64px;
	left: 180px;
	width: 40px;
	height: 40px;
	border: 1px solid #000000;
	border-radius: 40px;
	background-image: img/;
	background-color: #cccccc;
	z-index: 20;
	line-height: 40px;
	font-size: 20px;
	opacity: 0.8;
}

.annotate {
	display: none;
	position: relative;
	top: 95px;
	left: 180px;
	width: 40px;
	height: 40px;
	border: 1px solid #000000;
	border-radius: 40px;
	background-image: img/;
	background-color: #cccccc;
	z-index: 20;
	line-height: 40px;
	font-size: 20px;
	opacity: 0.8;
}


/* names */

.name {
	position: relative;
	width: 200px;
	height: 30px;
	border: 0px solid #000000;
	margin: 30px 0 50px 0;
	color: #000000;
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 3px #cccccc;
}


/* buttons */

.yesno {
	float: left;
	width: 800px;
	border: 0px solid #000000;
	line-height: 26px;
	font-size: 20px;
	font-weight: regular;
}

.yesno a {
	text-decoration: none;
	color: #999999; /* ONLY turns anchor text to this font color */
}

#yessir {
	display: block;
	width: 152px;
	margin: 0 auto;
}

#nono {
	float: right;
	display: block;
	width: 48px;
	color: #999999; /* turns the word 'no' to the default font color */
	font-size: 30px;
	font-weight: bold;
}

#fit {
	display: block;
	width: 123px;
}

#taken1 {
	display: block;
}

#taken2 {
	display: block;
}

#likes-same1 {
	display: block;
}

#likes-same2 {
	display: block;
}

#yessir:hover a {
	color: #000000;
}

#no:hover #nono {
	color: #000000;
}

#no:hover #fit:hover a {
	color: #000000;
}

#no:hover #taken1:hover a {
	color: #000000;
}

#no:hover #taken2:hover a {
	color: #000000;
}

#no:hover #likes-same1:hover a {
	color: #000000;
}

#no:hover #likes-same2:hover a {
	color: #000000;
}

#yes {
	height: 30px;
	margin: 100px 0 0 0;
	text-align: center;
}

#yesyes {
	font-size: 30px;
	font-weight: bold;
}

#no-left {
	float: left;
	width: 384px;
	height: 130px;
	text-align: right;
	margin: 30px 0 50px 0;
}

#no-right {
	float: left;
	width: 404px;
	height: 130px;
	text-align: left;
	margin: 35px 0 50px 12px;
}